{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{sub_dirs, [
    "apps/t06",
    "rel"]}.

{deps,
 [
  {lager, ".*", {git, "git://github.com/basho/lager.git", "3.0.3"}},
  {exml, ".*", {git, "git://github.com/esl/exml.git", "2547164950b65a86b79a5a5669821cff9bde17a7"}},
  {meck, ".*", {git, "git://github.com/eproxus/meck.git", {tag, "0.8.3"}}},
  {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", "1.0.4"}}
 ]}.

{recursive_cmds, [ct, eunit, clean]}.

%%% Local Variables:
%%% mode: erlang
%%% End:
%%% vim: set filetype=erlang foldmarker=%%%',%%%. foldmethod=marker:
%%%.
